.main_panel {
    padding: 30px;
    display: flex;
    margin: 0;
    min-height: 25rem;
    max-height: fit-content;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to left, rgba(255, 213, 123, 0.834), rgb(247, 255, 240), rgb(241, 241, 241));
    border-radius: 20px;
}

.myImage {
    object-fit: cover;
    height: 25rem;
    width: 100%;
    border-radius: 20px;
}

@media (max-width:900px) {
    .myImage {
        object-fit: scale-down;
        border-radius: 20px;
        width: fit-content;
        max-width: 90vw;
    }
}