.logo {
    margin-left: 50px;
    object-fit: contain;
    height: 40px;
}

.menu {
    text-decoration: none;
    margin-left: 5rem;
    margin-inline-start: 20px;
    text-decoration: none;
    color: rgb(90, 90, 90);
    transition: color .25s;
}

.menu:hover {
    color: rgb(255, 191, 0)
}