.logo {
    margin-left: 50px;
    object-fit: contain;
    height: 40px;
}

.menu {
    text-decoration: none;
    margin-left: 5rem;
    margin-inline-start: 20px;
    text-decoration: none;
    color: rgb(153, 153, 153);
    transition: color .05s;
}

.menu:hover {
    color: rgba(255, 191, 0, 0.486)
}