.logo {
    margin-left: 50px;
    object-fit: contain;
    height: 40px;
}

.menu {
    font-weight: bold;
    text-decoration: none;
    margin-left: 5rem;
    margin-inline-start: 20px;
    text-decoration: none;
    color: rgb(106, 119, 138);
    transition: color .75s;
}

.menu:hover {
    color: rgb(255, 196, 17)
}