body {
    min-height: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0) !important;
}
section {
    min-height: 100vh;
}

section:empty {
    min-height: auto;
}
html {
    scroll-behavior: auto;
}
  
